cx_Freeze==8.3.0
exifread==3.3.1
IPTCInfo3==2.1.4
ninepatch==0.2.0
ntplib==0.4.0
numpy==2.3.1
paho_mqtt==2.1.0
pi3d==2.54
pi_heif==0.20.0
Pillow==11.2.1
PySDL2==0.9.16
pytest==8.4.1
python_vlc==3.0.21203
pytz==2025.2
pyvips==3.0.0
PyYAML==6.0.2
Requests==2.32.4
rubicon-objc
setuptools==66.1.1
tomli==2.2.1
urllib3==2.5.0
